table {
    border: 2px solid hsl(0, 0%, 0%);
    width: 1000px;
    margin-bottom: 1px;

}
.title{
    height: 30%;
    text-align : center;
    font-size: large;
    font-weight: bold;
}
.text-center{
    text-align : center;
}
td{
    border: 1px solid #000000;
    height: 25px;
    /* text-align: center; */
}


.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url('세종대왕.jpeg');
    background-size: cover;
    /* 이미지가 요소를 완전히 채우도록 설정 */
    background-position: center;
    /* 이미지를 가운데 정렬 */
    border: 3px solid rgb(255, 255, 255);
    /* 테두리 속성 추가 */
}

.container {
    display: flex;
    flex-direction: row;
}
.center {
    display: flex;
}

.box {
    width: 200px;
    height: 200px;
    background: rgb(30, 76, 132);
    font-size: 13pt;
    text-align: center;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    
}
.content-title {
    width: 700px;
    height: 200px;
    font-size: 20pt;
    text-align: center;
    color: rgb(30, 76, 132);
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
    margin-left: 50px;
    text-align: left;
    padding-top: 50px;
}
.content {
    width: 700px;
    height: 200px;
    font-size: 13pt;
    text-align: center;
    color: rgb(30, 76, 132);
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
    margin-left: 50px;
    text-align: left;
    border-bottom: 1px solid rgb(30, 76, 132);

}

.content:last-child{
    border-bottom: 0px;
}
.pt60 {padding-top: 60px ;}
.pt50 {padding-top: 50px ;}
.pt40 {padding-top: 40px ;}
.pt30 {padding-top: 30px ;}
.pt20 {padding-top: 20px ;}


.horizontal-line {
    margin-left: 30px;
    width: 170px;
    border-top: 1px solid rgb(174, 222, 249);
    position: relative; 
}


.column {
    flex-direction: column;
}

.additional-text {
    text-align: left;
    /* 텍스트 가운데 정렬 */
    margin-top: 10px;
    /* 위쪽 여백 조정 */
    position: absolute;
    /* 절대적 위치 설정 */
    top: 100%;
    /* 수평선 아래로 이동 */
    left: 50%;
    /* 수평 가운데 정렬 */
    transform: translateX(-50%);
    /* 수평으로 가운데 정렬 */
    margin-top: 10px;
    /* 위쪽 여백 조정 */
}
.name{
    font-size: 30pt;
    font-weight: 500;
    text-align: left;
}